<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <title>Student Info</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>
<h3>Student Confirmation Page</h3>
<p>Student name was :  <span th:text="${student.firstName} + ' '+ ${student.lastName}"></span></p>
<p>Selected Country: <span th:text="${student.country}"></span></p>
<p>UserName: <span th:text="${student.username}"></span></p>
<p>Number of Subjects: <span th:text="${student.subjects}"></span></p>
<p>Gender: <span th:text="${student.gender}"></span></p>
<p>Favourite language: <span th:text="${student.language}"></span></p>
<p>Favourite operatingSystems </p>
<ul>
    <li th:each ="tempOS : ${student.operatingSystem}" th:text="${tempOS}"></li>
</ul>
</body>
</html>