<!DOCTYPE HTML>
<html xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello world input</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>
<body>
<h3>Student Registration Form</h3>
<i>Fill out the form. Asterisk (*) means required.</i><br><br>
<form th:action="@{/processFormThree}" th:object="${student}" method="POST">
    First Name(*): <input type="text" th:field="${student.firstName}" placeholder="Firstname..."/>
    <span th:if="${#fields.hasErrors('firstName')}"
          th:errors="${student.firstName}"
          class="error"></span><br><br>

    LastName(*): <input type="text" th:field=" ${student.lastName}" placeholder="Lastname..."/>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="${student.lastName}"
          class="error"></span><br><br>
    UserName: <input type="text" th:field=" ${student.username}" />
    <span th:if="${#fields.hasErrors('username')}"
          th:errors="${student.username}"
          class="error"></span><br><br>
    Number of Subjects(*): <input type="text" th:field=" ${student.subjects}" placeholder="1,2,.."/>
    <span th:if="${#fields.hasErrors('subjects')}"
          th:errors="${student.subjects}"
          class="error"></span><br><br>
    Country:
    <select th:field="${student.country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}">
    </select><br><br>
   Postal Code: <input type="text" th:field=" ${student.postalCode}" placeholder="80703"/>
    <span th:if="${#fields.hasErrors('postalCode')}"
          th:errors="${student.postalCode}"
          class="error"></span><br><br>
    Gender:
    <input type="radio" th:field="${student.gender}" th:value="Male">Male</input>
    <input type="radio" th:field="${student.gender}" th:value="Female">Female</input>
    <br><br>
    Languages:
    <input type="radio" th:field="${student.language}"
           th:each="tempLang: ${languages}"
           th:value="${tempLang}"
           th:text="${tempLang}"/><br><br>
    Favourite Operating Systems:
    <input type="checkbox" th:field="${student.operatingSystem}"
           th:each="tempOS : ${operatingSystems}"
           th:value="${tempOS}" th:text="${tempOS}"/><br><br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>